includes:
    - vendor/phpstan/phpstan/conf/bleedingEdge.neon
    # Drupal-specific rules. Use composer to include in project
    - vendor/mglaman/phpstan-drupal/extension.neon
    - vendor/phpstan/phpstan-deprecation-rules/rules.neon

parameters:
    # Test level
    level: 5

    # Target additional Drupal-filetypes
    fileExtensions:
        - php
        - module
        - install
        - inc

    paths:
        - web/modules
        - web/themes
        - web/sites

    excludePaths:
        analyse:
            - web/core/*
            - web/*/contrib
            - web/sites/default/files/*
            - web/sites/simpletest
            - vendor/*

    ignoreErrors:
        # new static() is a best practice in Drupal, so we cannot fix that.
        # - "#^Unsafe usage of new static#"

        -
            message: '#Variable \$app_root might not be defined\.#'
            paths:
                - web/sites/default/settings.php
                - web/sites/default/default.settings.php
        -
            message: '#Variable \$site_path might not be defined\.#'
            paths:
                - web/sites/default/settings.php
                - web/sites/default/default.settings.php
